input[type=text]{
    width: 70%;
    padding: 0.4rem;
}
ul{
    list-style-type: none;
}
.list{
    display: inline-block;
    margin-right: 10%;
}
.btnSubmit{
    padding: 0.5rem;
    background-color: orange;
    font-weight: bold;
    color: white;
    border-radius: 0.2rem;
    border: none;
}
#accountListBtn{
    border: 2px solid grey;
    padding: 0.3rem;
    border-radius: 0.2rem;
    background-color: grey;
    color: white;
    font-weight: bold;
    width: 30%;
    text-align: center;
}
#accountListBtn:active{
    border: 3px solid orange;
}
li:hover{
    cursor: pointer;
}
/* .navigationContainer{

} */
.navigationContainerUl{
    background-color: white;
    font-weight: bold;
    width: 60%;
    border-radius: 0.3rem;
    padding-left: 1.5%;
}
#sitename{
    color: orange;
}
.listNavBar{
    margin-bottom: 5%;
}
.listNavBar:hover{
    color: orange;
    font-weight: bold;
}
.Icon{
    margin-right: 4%;
}
footer{
    padding-top: 1rem;
    color: white;
}
.firstFooterContainer{
    background-color: black;
}
#footerSitename{
    color: white;
}
.containerFooter{
    display: grid;
    grid-template-columns: auto auto;
}
.footerLastRow{
    background-color: gray;
}
.lastFooterList{
    width: 50%;
}
.lastFooterList2{
    margin-left: -50%;
}
#paymentsIcon{
    width: 40%;
}
.cartContainer2{
    padding: 5rem;
    background-color: white;
    border-radius: 0.3rem;
    box-shadow: 2px 2px 6px grey;
}
.cartBtn{
    padding: 0.5rem;
    background-color: orange;
    font-weight: bold;
    color: white;
    border-radius: 0.2rem;
    border: none;
    box-shadow: 2px 2px 6px grey;
}
.cartBtn:hover{
    cursor: pointer;
}
.cartpageIcon{
    font-size: 3rem;
}
.contactHelpContainer{
    background-color: orange;
    color: white;
}
.headerContainer{
    background-color: white;
}
a{
    text-decoration: none;
}
.signIBtnNav{
    padding: 0.5rem;
    background-color: orange;
    font-weight: bold;
    color: white;
    border-radius: 0.2rem;
    border: none;
    box-shadow: 2px 2px 6px grey;
    width: 55%;
}
.signIBtnNavContainer{
    border: 2px solid;
    border: none;
    border-radius: 0.3rem;
    box-shadow: 2px 2px 6px grey;
    width: 50%;
    padding-top: 0.9rem;
    background-color: white;
    margin-left: 20%;
}
.signIBtnNav:hover{
    cursor: pointer;
}
.dropdownRowContainer{
    display: none;
    /* position: absolute; */
}
.closeBtn:hover{
    cursor: pointer;
    text-shadow: -2px 1px 7px grey;
}
#inputBox{
    margin-bottom: 5%;
}
#signupFormContainer{
    border: 2px solid;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 6px grey;
    padding: 1rem;
    margin-top: 10%;
}
.SignupSubmitBtn{
    background-color: orange;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.2rem;
    box-shadow: 2px 2px 6px grey;
    border: none;
}
.SigninSubmitBtn{
    background-color: orange;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.2rem;
    box-shadow: 2px 2px 6px grey;
    border: none;
}
.SigninSubmitBtn:hover{
    cursor: pointer;
}
.SigninSubmitBtn:hover{
    cursor: pointer;
}
#NewToCyprofText{
    color: rgb(233, 172, 58);
}